    {% extends 'frame.html' %}

{% block content %}

<div id="addService">
    <h1>Add A Service</h1>
    <form action="{{url_for('addServiceFunction')}}" method="post">
        <label>Service Name: </label>
        <input type="text" id="textInput" name="name" required>

        <br>
        
        <label>Price: </label>
        <input type="number" id="textInput" name="price" required>

        <br>

        <label>Avalible Slots At Once: </label>
        <input type="number" id="textInput" name="slots" required>

        <br>

        <label>Total Service Time: (in mins)</label>
        <input type="number" id="textInput" name="time" required>

        <br>

        <label for="monday-start">Monday: </label>
        <input type="time" id="monday-start" name="monday-start">
        <input type="time" id="monday-end" name="monday-end">
        <br>
        <label for="tuesday-start">Tuesday: </label>
        <input type="time" id="tuesday-start" name="tuesday-start">
        <input type="time" id="tuesday-end" name="tuesday-end">
        <br>
        <label for="wednesday-start">Wednesday: </label>
        <input type="time" id="wednesday-start" name="wednesday-start">
        <input type="time" id="wednesday-end" name="wednesday-end">
        <br>
        <label for="thursday-start">Thursday: </label>
        <input type="time" id="thursday-start" name="thursday-start">
        <input type="time" id="thursday-end" name="thursday-end">
        <br>
        <label for="friday-start">Friday: </label>
        <input type="time" id="friday-start" name="friday-start">
        <input type="time" id="friday-end" name="friday-end">
        <br>
        <label for="saturday-start">Saturday: </label>
        <input type="time" id="saturday-start" name="saturday-start">
        <input type="time" id="saturday-end" name="saturday-end">
        <br>
        <label for="sunday-start">Sunday: </label>
        <input type="time" id="sunday-start" name="sunday-start">
        <input type="time" id="sunday-end" name="sunday-end">
        <br>
        
        <label for="break-start">Break: </label>
        <input type="time" id="break-start" name="break-start" required>
        <input type="time" id="break-end" name="break-end" required>
        <br>

        <label for="description">description: </label>
        <!-- <input type="" id="description" name="description"> -->
        <textarea id="description" name="description"></textarea>
        <br>

        <input type="submit">
    </form>
</div>

{% endblock %}