{% extends 'frame.html' %}

{% block content %}

<div>
    <h2>Add Employee</h2>
    <!-- Flash message container -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/employee/add" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required><br><br>

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br><br>

        <label for="role">Role: </label><br>
        <!--<input type="text" id="role" name="role" required><br><br>-->
        <!--<input type="checkbox" id="role" name="role"> <br><br> -->
        <label> Administrator </label>
        <input type="radio" id="admin" name="role" value="Administrator" required>
        <label> Employee </label>
        <input type="radio" id="employee" name="role" value="Employee" required> <br><br>

        <input type="submit">
    </form>
</div>

{% endblock %}