{% extends 'frame.html' %}

{% block content %}

<div>
    <h1>Our Bookings</h1>

    <div>
        
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time Start</th>
                    <th>Time End</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Discount</th>
                    <th>Edit</th>
                    <th>Delete Booking</th>
                </tr>
            </thead>
            <tbody>
                {% for items in bookings%}
                    <tr>
                        {%for data in items %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <!-- <td>{{ items }}</td> -->
                        <!-- <td>{{idList[loop.index - 1]}}</td> -->
                        <td><a href="/booking/edit/{{idList[loop.index - 1]}} "><button>Edit</button></a></td>
                        <td><a href="/booking/delete/{{idList[loop.index - 1]}} "><button>Delete</button></a></td>
                    </tr>
                {% endfor %}
                <!-- Add dynamic data here -->
            </tbody>
        </table>
    </div>
</div>

{% endblock %}