{% extends 'frame.html' %}

{% block content %}

<div>
    <h1>Our Bookings</h1>

    <div>
        
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Name</th>
                    <th>Time Start</th>
                    <th>Time End</th>
                    <th>See More</th>
                </tr>
            </thead>
            <tbody>
                {% for items in bookings%}
                    <tr>
                        {%for data in items %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <!-- <td>{{ items[0] }}</td> -->
                        <td><a href="/{{items[0]}}/service/edit/{{items[1]}}"><button>Edit</button></a></td>
                    </tr>
                {% endfor %}
                <!-- Add dynamic data here -->
            </tbody>
        </table>
    </div>
</div>

{% endblock %}