{% extends 'frame.html' %}

{% block content %}

<div>
    <h1>Our Employees</h1>

    <div class="containter">
        {% for employee in employees %}
        <div class="block">
            <img src="/static/images/icons/profile.png">
            <h2>{{employee[1]}} {{employee[2]}}</h2>
            <h3>{{employee[4]}}</h3>
            <button>Edit Employee</button>
        </div>
        {% endfor %}

        <div class="block">
            <a href="/employee/add"><button>Add Employee</button></a>
        </div>
        
    </div>
</div>

{% endblock %}