{% extends 'frame.html' %}

{% block content %}

<div>
    <h1>Our Employees</h1>

    <div class="containter">
        <div class="block">
            <img src="/static/images/icons/profile.png">
            <h2>Name</h2>
            <h3>Type</h3>
            <button>Edit Employee</button>
        </div>
        <div class="block">
            <img src="/static/images/icons/profile.png">
            <h2>Name</h2>
            <h3>Type</h3>
            <button>Edit Employee</button>
        </div>

        <div class="block">
            <a href="/employee/add"><button>Add Employee</button></a>
        </div>
        
    </div>
</div>

{% endblock %}