{% extends 'frame.html' %}

{% block content %}

<div>

    <div id="header">
        <!-- header Content -->
         <!-- ../../static/images/uploads/{{g.username}}/profile_picture.png -->
        <!-- <img src="../../static/images/uploads/{{businessUsername}}/cover_photo.png" id="profileHeader"> -->

        {% if background_exists %}

            <img src="{{ url_for('static', filename='images/uploads/' ~ businessUsername ~ '/cover_photo.png') }}" alt="Profile Picture" id="profileHeader">
            <!-- <p>true</p> -->
        {% else %}
            
            <img src="{{ url_for('static', filename='images/misc/empty.png') }}" alt="Profile Picture" id="profileHeader">
        {% endif %}

        <div id="profilePicture">
            {% if file_exists %}
                <img src="{{ url_for('static', filename='images/uploads/' ~ businessUsername ~ '/profile_picture.png') }}" alt="Profile Picture">
            {% else %}
            <img src="{{ url_for('static', filename='images/misc/emptyProfile.png') }}" alt="Profile Picture" id="profileHeader">
            {% endif %}
            <!-- <img src="../../static/images/uploads/{{businessUsername}}/profile_picture.png"> -->
        </div>

    </div>

    <div id="profileContainer">
        <h2>{{ businessName }}</h2>
        <h3>{{fullAddress}}</h3>

        <!-- TODO: Turn this izznto a resopnsive image -->
        <!-- <h4>⭐️⭐️⭐️⭐️⭐️</h4> -->

        <!-- Show edit button if they should be able to edit it -->
        {% if g.data[0] == businessName %}
            <div>
                <button><a href="/business/edit">Edit Profile</a></button>
            </div>
        {%endif%}
    </div>

    <div id="contentArea">

        
        <div id="services">
            <h2>Services</h2>
            
            <!-- Add Services Here -->
            <div id="servicesContainer">
                {% for service in arrServices %}
                    {% include 'components/services.html' %}
                    <!-- {{arrServices[0][0]}}
                    {{arrServices}} -->
                {% endfor %}
            </div>
        </div>
        <div id="sidebar">
            
            <!-- Hours here -->
            
            <div class="hours-section">
                <h2>Opening Hours</h2>
                <div class="day">
                    <span class="day-name">Monday</span>
                    <span class="day-hours">9:00 AM - 5:00 PM</span>
                </div>
                <div class="day">
                    <span class="day-name">Tuesday</span>
                    <span class="day-hours">9:00 AM - 5:00 PM</span>
                </div>
                <!-- Repeat for other days -->
            </div>
            
            <!-- google maps here -->
            <div class="map-section">
                <h2>Find Us Here</h2>
                <div class="map-container">
                    <!-- Embed your Google Map here -->
                    <iframe src="https://www.google.com/maps/embed/v1/place?key={{api_key}}&q={{b_lat}},{{b_lng}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <h5>{{fullAddress}}</h5>
            </div>
        </div>

    </div>

    <div id="bottomBuis">

        <!-- reviews here (maybe) -->
        
        <h2>Reviews</h2>
        
        <div id="servicesContainer" class="contentArea">
            {% include 'components/reviews.html' %}
            {% include 'components/reviews.html' %}
            {% include 'components/reviews.html' %}
            {% include 'components/reviews.html' %}
            
        </div>
    </div>
</div>
    
    {% endblock %}