{% extends 'frame.html' %}

{% block content %}

<div id="viewProfile">
    <div id="sidebar" class="sidebarLeft">
        <div id="profileMain">
            <!-- Profile Picture -->
            <img src="/static/images/misc/profile.jpeg">

            <h2>Name</h2>
            <h3>address</h3>

            <!-- buttons to edit -->
        </div>

        <p>Account
            Bookings
            Settings
        </p>
    </div>

    <div id="mainContent">
        <h2>hi there</h2>
    </div>
</div>

{% endblock %}