{% extends 'frame.html' %}

{% block content %}

<div>
    <div id="header">
        <!-- header Content -->
        <img src="../../static/images/misc/tempHeader.jpg" id="profileHeader">

        <div id="profilePicture">
            <img src="../../static/images/misc/tempProfile.jpg">
        </div>

    </div>

    <div id="profileContainer">
        
        
        <h2>{{ customerName }}</h2>
        <h3>{{ customerAddress }}</h3>

        
    </div>

    <div>
        <h2>Their Appointments With You: </h2>
    </div>
</div>

{% endblock %}