{% extends 'frame.html' %}

{% block content %}

<div>
    <div id="header">
        <!-- header Content -->
        <img src="{{ url_for('static', filename='/images/misc/tempHeader.jpg')}}" id="editProfileHeader" onclick="handleClick()">

        <div id="profilePicture">
            <img src="{{ url_for('static', filename='/images/misc/tempProfile.jpg')}}">
        </div>
        <!-- TODO: Add edit buttons  -->
    </div>

    <div>
        <h1>Service Name</h1>
        <h4>Description</h4>

        <div>
            <h2>Bookings</h2>
            <div>
                <!-- Put booking information here -->
            </div>
        </div>

        <div>
            <h2>Schedule</h2>
            <div>
                <form action="{{url_for('updateTime')}}" method="post">
                    <label for="monday-start">Monday: </label>
                    <input type="time" id="monday-start" name="monday-start">
                    <input type="time" id="monday-end" name="monday-end">
                    <br>
                    <label for="tuesday-start">Tuesday: </label>
                    <input type="time" id="tuesday-start" name="tuesday-start">
                    <input type="time" id="tuesday-end" name="tuesday-end">
                    <br>
                    <label for="wednesday-start">Wednesday: </label>
                    <input type="time" id="wednesday-start" name="wednesday-start">
                    <input type="time" id="wednesday-end" name="wednesday-end">
                    <br>
                    <label for="thursday-start">Thursday: </label>
                    <input type="time" id="thursday-start" name="thursday-start">
                    <input type="time" id="thursday-end" name="thursday-end">
                    <br>
                    <label for="friday-start">Friday: </label>
                    <input type="time" id="friday-start" name="friday-start">
                    <input type="time" id="friday-end" name="friday-end">
                    <br>
                    <label for="saturday-start">Saturday: </label>
                    <input type="time" id="saturday-start" name="saturday-start">
                    <input type="time" id="saturday-end" name="saturday-end">
                    <br>
                    <label for="sunday-start">Sunday: </label>
                    <input type="time" id="sunday-start" name="sunday-start">
                    <input type="time" id="sunday-end" name="sunday-end">
                    <br>
                    
                    <label for="break-start">Break: </label>
                    <input type="time" id="break-start" name="break-start">
                    <input type="time" id="break-end" name="break-end">
                    <br>
        
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function handleClick() {
        // Add your desired JavaScript functionality here
        alert('Image clicked!');
        // You can add more complex actions or behavior here
    }
</script>


{% endblock %}