{% extends 'frame.html' %}

{% block content %}

<div id="servicePage">

    <h1>Your Services</h1>
    <div>
        <table id="serviceTable">
            <thead>
                <tr>
                    <!-- <th>Buisness</th> -->
                    <th>Service Name</th>
                    <th>Price</th>
                    <th style="width: 15%">Slots Avalible</th>
                    <th>Total Time (in minutes)</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                    <!-- <th>Edit</th> -->
                </tr>
            </thead>
            <tbody>
                {% for items in service%}
                    <tr>
                        {%for data in items %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <!-- <td>{{ items[0] }}</td> -->
                        <td><a href="/{{nextLink[0][0]}}/service/edit/{{items[0]}}"><button>Edit</button></a></td>
                        <td><a href="/{{nextLink[0][0]}}/service/{{items[0]}}"><button>View</button></a></td>
                        <td><a href="/{{nextLink[0][0]}}/service/delete/{{items[0]}}"><button>Delete</button></a></td>
                    </tr>
                {% endfor %}
                <!-- Add dynamic data here -->
            </tbody>
        </table>
    </div>
    
    <a href="/add-service"><button id="addServiceButton">Add new service</button></a>

</div>


{% endblock %}