{% extends 'frame.html' %}

{% block content %}

<div id="servicePage">

    <h1>Our Services</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                    <th>Something else here</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add dynamic data here -->
            </tbody>
        </table>
    </div>
    
    <button>Add new service</button>

</div>


{% endblock %}