{% extends 'frame.html' %}

{% block content %}

<div>
    <div id="header">
        <!-- header Content -->
        <img src="../../static/images/misc/tempHeader.jpg" id="profileHeader">

        <div id="profilePicture">
            <img src="../../static/images/misc/tempProfile.jpg">
        </div>

    </div>

    <div id="profileContainer">
        
        <!-- make it a circle crop -->
        <h2>{{ businessName }}</h2>
        <h3>{{ businessAddress }}</h3>

        <!-- TODO: Turn this into a resopnsive image -->
        <h4>⭐️⭐️⭐️⭐️⭐️</h4>
    </div>

    <div>
        <h1>{{ serviceName }}</h1>
        <h4>{{ serviceDescription }}</h4>
    </div>

    <div id="bookingGroup">
        <h2>Avalible Times: </h2>
        <table>
            <thead>
                <tr>
                    <th>Time Start</th>
                    <th>Time End</th>
                    <th>Book!</th>
                </tr>
            </thead>
            <tbody>
                {% for items in service%}
                    <tr>
                        {%for data in items %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <!-- <td>{{ items[0] }}</td> -->
                        
                    </tr>
                {% endfor %}
                <!-- Add dynamic data here -->
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}