body{
    background-color: #f2f2f2;

    
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */

  flex-direction: column;

    color: #023047;
    text-align: center;
}

#logoDivLogin{
    text-align: center;
}

#logoDivLogin img{
    width: 40vw;
}

h1{
    color: #023047;
}

#description{

    font-size: 1.3rem;
    color: #023047;
    margin-right: 330px;
    margin-left: 330px;
}

#buttonContainer a{
    text-decoration: none;
}

#buttonContainer button{
    font-size: 30px;
    padding: 20px;
    background: #ffb703;
    border: none;
    border-radius: 40px;
    color: white;
    margin: 30px;
}

#backLink{
    text-decoration: none;
}

form{

    background: white;
    padding: 30px;
    text-align: left;
}

form input{
    border: #7F8C8D, dashed, 1px;
    background: #f2f2f2;
}