<!-- Login Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Sets browser tab title-->
    <title>Easy Find</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div id="logoDivLogin">
        <img src="../static/images/logo/color.png">
    </div>
    
    <h1>Login</h1>
    <!-- Flash message container -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <label for="username">Username:</label> <br>
        <input type="text" id="username" name="username" required ><br><br>
        <label for="password">Password:</label>
        <br>
        <!-- type password  hides the characters the user inputs -->
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form> 

    <a href="/" id="backLink">Back</a>
    <!-- <main>
        {% block content %}{% endblock %}
    </main> -->
    <footer>
        <p>&copy; 2024 My Flask Website</p>
    </footer>
</body>
</html>
