{% extends 'frame.html' %}

{% block content %}
<div id="map" style="height: 500px; width: 100%;"></div>

<script>
    function initialize_Map() {
        const businessLat = parseFloat("{{ lat }}");
        const businessLng = parseFloat("{{ lng }}");
        const businessName = "{{ name }}";
        const businessAddress = "{{ address }}";

        const businessLocation = new google.maps.LatLng(businessLat, businessLng);

        const map = new google.maps.Map(document.getElementById('map'), {
            center: businessLocation,
            zoom: 15
        });

        const infowindow = new google.maps.InfoWindow();

        const businessMarker = new google.maps.Marker({
            position: businessLocation,
            map: map,
            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
            title: businessName
        });

        businessMarker.addListener('click', function() {
            infowindow.setContent(`<div><strong>${businessName}</strong><br>Address: ${businessAddress}</div>`);
            infowindow.open(map, businessMarker);
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        initialize_Map();
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initialize_Map" async defer></script>
{% endblock %}
