<!doctype html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="logoDivLogin">
        <img src="../static/images/logo/color.png">
    </div>

    <div id="description">
        <p>Easy Find by CCOM offers a user-friendly, cost-effective local service browsing and booking platform, simplifying service discovery and scheduling.</p>
    </div>
    <!-- Flash message container for user logout -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div id="buttonContainer">
        <a href="/login">
            <button href="/login">Login</button>
        </a>

        <a href="/Csignup">
            <button href="/login">Customer Signup</button>
        </a>

        <a href="/Bsignup">
            <button href="/login">Business Signup</button>
        </a>
    </div>
</body>
</html>
