<div id="navheader">
    <nav class="navbar">
        <img src="../../static/images/logo/logo1.png" id="headerlogo">
        <!-- <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/bookings">Bookings</a></li>
            <li><a>Profile</a></li>
            <li><a href="/">Logout</a></li>
        </ul> -->

        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/bookings">Bookings</a></li>
            <li><a href="/employees">Employees</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Logout</a></li>

            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>