{% extends 'frame.html' %}

{% block content %}

    <h1 style="text-align: center;">Greetings, {{name}}!</h1>

    <div id="bookingContainer">
        <h2>Your Bookings:</h2>
        
        <div id="nearCol">

            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <button></button>
            <img>

            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <button></button>
            
            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <button></button>
        </div>
        <!-- Put their bookings here -->

    </div>

    <div id="nearContainer">
        <h2>Near You:</h2>
        <div id="nearCol">

            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
        </div>
    </div>  

    <div id="nearContainer">
        <h2>For You:</h2>
        <div id="nearCol">

            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
        </div>
    </div>  

    <!-- <div id="nearContainer">
        <h2>??? You:</h2>
        <div id="nearCol">

            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
            <img>
            <h3>Publix</h3>
            <h5>address</h5>
            <h6>.3 miles away</h6>
        </div>
    </div>   -->


{% endblock %}